* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index_alert_box {
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
	align-self: center;
    z-index: 2;
    color: azure;
	background-color: rgba(0, 0, 255, 0.826);
    border-radius: 5px;
    text-align: center;
    padding: 6px;
}

.index_alert_box h4 {
    /*border: 1px solid skyblue;*/
    margin-left: 5px;
    margin-right: 20px;
}

.index_alert_box button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.index_alert_box img {
    filter: invert(100%);
}


.form_container {
	width: 75%;
}

.e_form_container {
	width: 100%;
	min-height: 100vh;
}

.e_form_container a {
	position: absolute;
	top: 12px;
	left: 10px;
	padding: 7px;
	padding-right: 10px;
	background: linear-gradient(45deg, lightseagreen, blue );
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	text-decoration: none;
	color: azure;
	border-radius: 6px;
}

.e_form_container img {
	margin-right: 6px;
	filter: invert(100%);
}

.form_container, .e_form_container {
    background: linear-gradient(135deg, #155799, #159957 ); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_box h1 {
	font-size: 40px;
	padding-bottom: 15px;
}


.container_home {
	width: 100%;
	display: flex;
	/*border: 2px solid black;*/
	padding-top: 25px;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(135deg, #155799, #159957 ); 
	/*background: linear-gradient(135deg, #0575e6, #00f260 );*/
	flex-direction: column;
}

.container_home .box_container h1 {
	padding-bottom: 30px;
	font-size: 50px;
}

.e_dash_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 35px;
	background-color: rgba(0, 0, 0, 0.35);
	border: 2px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	padding: 10px;
	margin-left: 30px;
	margin-right: 30px;
	border-radius: 15px;
	color: rgb(182, 182, 182);
}

.logo_container {
	width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: center;
    /*background-color: #31384a;*/
    border-radius: 10px;
    margin: 2px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(0, 234, 255);
    box-shadow: 0 0 10px rgba(0, 234, 255, 0.3);
}

.logo_container img {
    width: 30%;
    margin: 3px;
    border-radius: 10px;
    /*border: 1px solid red; */
}

.container_home .logo_container h1 {
    width: 70%;
    margin: 3px;
    padding-left: 8px;
    font-size: 40px;
    color: rgb(206, 206, 206);
    /*border: 1px solid red;*/
}

.e_dash_header a {
	text-decoration: none;
}

.accountlogo_container {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
	
    /*border: 1px solid red;*/
}

.accountlogo_container img {
    width: 50%;
	border: 3px solid yellowgreen;
    border-radius: 50%;
	filter: invert(80%);
}

.box_container {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.65);
	border: 2px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
	border-radius: 15px;
	color: rgb(182, 182, 182);
	flex-direction: column;
	text-align: center;
}

.box_container a {
	text-decoration: none;
	color: aliceblue;
	padding: 10px;
	background: linear-gradient(135deg, #155799, #159957 );
	margin: 5px;
	border-radius: 8px;
	width: 50%;
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box_container a:hover {
	background: linear-gradient(135deg, #2290fd, #24ff91 );
	color: rgb(86, 86, 86);
}

.form_box, .report_container, .e_form_box {
	display: flex;
	background-color: rgba(0, 0, 0, 0.65);
	border: 2px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
	border-radius: 15px;
	color: rgb(182, 182, 182);
	flex-direction: column;
}

.e_form_box h1 {
	font-size: 40px;
	padding-bottom: 22px;
}

.report_container {
	width: 95%;
}

.report_container h1 {
	margin-bottom: 30px;
}

.report_container input {
	
	margin-bottom: 10px;
}

.report_container table, .report_container th, .report_container td {
	border: 1px solid cyan;
    border-collapse: collapse;
}

.report_container th {
	background-color: rgba(14, 17, 19, 0.7);
}

.report_container td {
	background-color: rgba(22, 24, 26, 0.6);
	font-size: 12px;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

.input_box input {
	outline: none;
	border: none;
	border-radius: 2px;
	background: rgb(182, 182, 182);
	font-size: medium;
	padding: 2px;
	padding-left: 5px;
}

.input_box .button_box, .button_box, .btn_row .clear_button_box {
	outline: none;
	border: none;
	border-radius: 4px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 8px;
	color: aliceblue;
	letter-spacing: 1px;
	cursor: pointer;
}

.input_box .button_box, .button_box {
	background: linear-gradient(135deg, #155799, #159957 ); 
}

.btn_row .clear_button_box {
	background: linear-gradient(135deg, #391056, #c61532);
	margin-right: 5px;
}

form td, th {
	width: 265px;
	padding: 6px;
	border-collapse: collapse;
}

#displayTable, #displayTable th, #displayTable td {
	border: 1px solid cyan;
    border-collapse: collapse;
}

#displayTable th {
	background-color: rgba(14, 17, 19, 0.7);
	text-align: center;
	color: azure;
}

#displayTable td {
	text-align: center;
	background-color: rgba(22, 24, 26, 0.6);
}

select {
	outline: none;
	border: none;
	border-radius: 2px;
	background: rgb(182, 182, 182);
	font-size: medium;
	padding: 2px;
}

.eid_box {
	margin-bottom: 10px;
}

.eid_box input {
	margin-left: 8px;
	width: 20%;
}

#E_eid {
	margin-left: 8px;
	width: 10%;
}

