* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black ;
}

.page_container {
    width: 100%;
    min-height: 100vh;
    background: url("res/login_background.jpg");
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.box_container {
    width: 75%;
    height: 480px;
    /*border: 2px solid white;*/
    display: flex;
    background: transparent;
    border-radius: 20px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.9);
}

.left_box {
    width: 60%;
    height: 100%;
    background: linear-gradient(135deg, #135393cf, #169c59cf );
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    /*border: 2px solid springgreen;*/
}

.logo_container {
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    margin: 4px;
    margin-top: 20px;
    padding: 5px;
    border-bottom: 1px solid rgb(0, 234, 255);
    box-shadow: 0 0 10px rgba(0, 234, 255, 0.3);
}

.logo_container img {
    width: 20%;
    margin: 3px;
    border-radius: 10px;
    /*border: 1px solid red; */
}

.logo_container h1 {
    width: 80%;
    margin: 3px;
    padding-left: 8px;
    font-size: 45px;
    color: azure;
    letter-spacing: 2px;
    /*border: 1px solid red;*/
}

.left_box h3 {
    color: azure;
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 20px;
    letter-spacing: 1px;
}

.right_box {
    width: 40%;
    background: linear-gradient(-135deg, #043c74db, #04763ddb );
    backdrop-filter: blur(5px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /*border: 2px solid sandybrown;*/
}

.right_box table, td {
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom: 5px;
    color: azure;
    letter-spacing: 1px;
}

.right_box table {
    border-left: 2px solid cyan;
    width: 100%;
    height: 90%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 6%;
}

.right_box table h1 {
    font-size: 36px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.text_label {
    padding-left: 30px;
}

#uname, #pwd {
    width: 80%;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid cyan;
    border-radius: 4px;
    outline: none;
    background: transparent;
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
    width: 60%;
    height: 80%;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: black;
    background-color: cyan;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(0, 209, 209);
    border: 1px solid cyan;
    box-shadow: 0 0 10px cyan;
}

.right_box a {
    color: cyan;
}

